<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612174594912-78m6c1l66mkr3dcfcu6rps207p62kgvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612174594912-78m6c1l66mkr3dcfcu6rps207p62kgvh</string>
	<key>API_KEY</key>
	<string>AIzaSyBo_qpVgWSWAmNvOx2qxrn3ReiE2GYvrwc</string>
	<key>GCM_SENDER_ID</key>
	<string>612174594912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.WitnessApp</string>
	<key>PROJECT_ID</key>
	<string>witness-a80ea</string>
	<key>STORAGE_BUCKET</key>
	<string>witness-a80ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612174594912:ios:f1101ea04eb9b83b785405</string>
	<key>DATABASE_URL</key>
	<string>https://witness-a80ea.firebaseio.com</string>
</dict>
</plist>